workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "=https://viacep.com.br/ws/{{ $('Webhook').item.json.body.cep }}/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "9d9ae34e-7780-431c-930d-3f3b26198105",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "Você é um assistente especializado em análise de endereços no Brasil.\nResponda de forma objetiva utilizando os dados do endereço fornecido.",
              "role": "model"
            },
            {
              "content": "=Dados do endereço:\nCEP: {{ $json.cep }}\nRua: {{ $json.logradouro }}\nBairro: {{ $json.bairro }}\nCidade: {{ $json.localidade }}\nEstado: {{ $json.uf }}\n\nPergunta do usuário:\n{{ $('Webhook').item.json.body.pergunta }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "e8457ebb-4b68-45e4-842e-8014b17be044",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "kO6fIyinr5SkaPIf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        768,
        0
      ],
      "id": "2c3d62cb-649d-4385-b3a0-34b317caa767",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consulta-cep",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        0
      ],
      "id": "c577df33-9ea8-4aab-9e49-063dd9289686",
      "name": "Webhook",
      "webhookId": "e7b5375a-57a2-498a-98ef-56732bf9b1e1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "54f10888-4d1d-4219-a65c-d82a9b8de73d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50ad6b0c1fea3dfdbc2ae8b017fa9ec6e9ac9271fe9985799c58b95f19db48dd"
  },
  "id": "QbGw0RNRh8v0K0z9",
  "tags": []
}